*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
body{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to top, #7A96D5, #61C6F2);
    
}
.container {
    border-radius: 15px;
    background-color: #F2F2F2;
    width: 280px;
    height: 500px;
    padding: 15px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(7, auto);
    gap: 18px;
    box-shadow: 2px 2px 8px rgba(136, 127, 218, .8);
    
}
.btn {
    
    border-radius: 50%;
    background-color: #fff;
    border: none;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, .10);
    color: #61C6F2;
    font-size: 28px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 300;
    cursor: pointer;
}
.btn:hover{
    box-shadow: none;
}
.btn:active{
    transform: scale(1.08);
}
.btn-igual {
    grid-column: span 2;
    border-radius: 30px;
}
.btn-blue{
    background-color: #61C6F2;
    color: #fff;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, .25);
}
.btn:focus {
    outline:0;
}
.span {
    grid-column: span 4;
    text-align: end;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    color: #61C6F2;
    font-size: 25px;
    font-weight: 200;
}
.input {
    grid-column: span 4;
    font-size: 45px;
    height: 50px;
    width: 100%;
    border: none;
    color: #61C6F2;
    font-weight: 300;
    text-align: right;
    background-color: #F2F2F2;
    appearance: textfield;
}
.input:focus {
    outline: 0;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0; 
}
input[type=number] {
    -moz-appearance:textfield; /* Firefox */
}